<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavAction</key>
	<string>http://192.168.19.123:8181/paper/client/nav/getNavDataJson.action</string>
	<key>SubNavAction</key>
	<string>http://192.168.19.123:8181/paper/client/papermodel/getPageByPid.action</string>
</dict>
</plist>
