<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppWebPath</key>
	<string>http://192.168.133.109:8282/origami/</string>
	<key>AppImagePath</key>
	<string>image/</string>
	<key>NavAction</key>
	<string>client/nav/getNavDataJson.action</string>
	<key>SubNavAction</key>
	<string>client/model/getPageByPid.action</string>
	<key>SubNavImgAction</key>
	<string>client/image/getPaperImageByPidAndMaxSort.action?modelId=%@</string>
	<key>DetailCollectionAction</key>
	<string>client/image/getPageByPid.action</string>
	<key>DetailPageAction</key>
	<string>client/image/getListByPid.action</string>
	<key>DetailImgAction</key>
	<string>client/image/getPaperImageById.action?id=%@</string>
</dict>
</plist>
