<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppWebPath</key>
	<string>http://192.168.133.109:8282/origami/</string>
	<key>AppImagePath</key>
	<string>image/</string>
	<key>CategoryAction</key>
	<string>client/category/query.action</string>
	<key>ModelPageAction</key>
	<string>client/model/queryPage.action</string>
	<key>ImagePageAction</key>
	<string>client/image/queryPage.action</string>
	<key>ImageAction</key>
	<string>client/image/query.action</string>
</dict>
</plist>
