<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppWebPath</key>
	<string>http://172.20.4.113:8383/paper/</string>
	<key>AppImagePath</key>
	<string>image/</string>
	<key>NavAction</key>
	<string>client/nav/getNavDataJson.action</string>
	<key>SubNavAction</key>
	<string>client/papermodel/getPageByPid.action</string>
	<key>SubNavImgAction</key>
	<string>client/paperimage/getPaperImageByPidAndMaxSort.action?pid=%@</string>
	<key>DetailCollectionAction</key>
	<string>client/paperimage/getPageByPid.action</string>
	<key>DetailPageAction</key>
	<string>client/paperimage/getListByPid.action</string>
	<key>DetailImgAction</key>
	<string>client/paperimage/getPaperImageById.action?id=%@</string>
</dict>
</plist>
